img {
    width: 1200px;
    margin-left: 130px;
}

p {
    margin-left: -320px;
    font-size: 20px;
    line-height: 5px;
    margin-top: 10px;
}

h2 {
    line-height: 2px;
    font-weight: 600;
    margin-left: 140px;
}

.heading1 {
    margin-top: -190px;
}

